

/*
h1 {
	color: green;
		font-family: garamond;
		font-size: 50px;
}

p {
	font-family: garamond;
	font-size: 50px;
	color:brown;

}
*/
#myFirstId {
	font-family: monospace;
	color:pink;
}

#mySecondId {
	color: orange;
}

body {
	background-color: lightyellow
}